*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: NeuePower;
    src: url(../assets/fonts/NeuePowerTrial-Ultra.ttf);
    font-weight: bold;
}
@font-face {
    font-family: NeuePower;
    src: url(../assets/fonts/NeuePowerTrial-Bold.ttf);
    font-weight: normal;
}
:root{
    --yellow: #FFC400;
    --green: #00B686;
    --purple: #9778D1;
    --beige: #FDF7E8;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #a7a7a7;
    --dark-gray: #333333;
    --neue-power: NeuePower, sans-serif;
}
body{
    background-color: var(--beige);
}
.header{
    height: 100vh;
    position: relative;
}
.header-video{
    height: 95vh;
    position: inherit;
    border-radius: 0 0 70px 70px;
    overflow: hidden;
}
.header-video video{
    filter:brightness(0.6);
}
.square{
    background-color: var(--yellow);
    width: 800px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 270px;
}
.header-video .square:nth-child(2){
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}
.header-video .square:nth-child(3){
    top: 0;
    right: -50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.header-video-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.header-video-text p{
    width: 60%;
    color: var(--white);
    font-family: var(--neue-power);
    font-size: 24px;
    text-align: center;
}
.header-logo-container{
    position: absolute;
    top: 20px;
    left: 50px;
}
.header-logo-container img{
    width: 96px;
}
.down-container{
    background-color: var(--white);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top: 95vh;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,.1);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.down-container-icon{
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(-45deg);
    animation: move-arrow ease-in 1s infinite;
}
@keyframes move-arrow{
    0%{
        padding-top: 0px;
    }
    50%{
        padding-top: 10px;
    }
    100%{
        padding-top: 0px;
    }
}
.down-container-icon i{
    color: var(--yellow);
    font-size: 24px;
}
h2,h3{
    font-family: var(--neue-power);
}
h2{
    font-size: 36px;
    font-weight: bold;
}
h3{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}
.expertises{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expertises h2{
    width: 50%;
    text-align: center;
}
h2 span{
    position: relative;
}
h2 span div{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: red;
}
.scroll-gallery{
    height: 800px;
    position: relative;
    overflow: hidden;
}
.gallery{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    overflow: hidden;
    z-index: 2;
}
.gallery-card{
    width: 370px;
    height: 500px;
    position: relative;
}
.gallery-card:nth-child(1){
    animation: gallery-animation 20s linear infinite;
}
@keyframes gallery-animation{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -3360px;
    }
}
.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}
.gallery-message{
    width: 80%;
    padding: 20px;
    position: absolute;
    font-family: var(--neue-power);
    font-size: 18px;
    font-weight: normal;
    border-radius: 16px;
}
.gallery-card:nth-child(odd) .gallery-message{
    background-color: var(--black);
    bottom: -50px;
    left: 20px;
    color: var(--white);
}
.gallery-card:nth-child(even) .gallery-message{
    background-color: var(--white);
    bottom: 450px;
    right: 20px;
    color: var(--black);
}
.gallery-message .triangle{
    width: 20px;
    height: 20px;
    position: absolute;
}
.gallery-card:nth-child(odd) .triangle{
    background-color: var(--black);
    top: 0;
    left: 40px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.gallery-card:nth-child(even) .triangle{
    background-color: var(--white);
    bottom: 0;
    right: 40px;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}
.scroll-gallery .square{
    width: 700px;
    background-color: var(--green);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 1;
}
.button{
    background-color: var(--black);
    padding: 20px;
    display: inline-block;
    color: var(--white);
    border-radius: 40px;
    transition: .2s;
}
.button:hover{
    background-color: var(--dark-gray);
    transition: .2s;
}
.button-container{
    display: flex;
    align-items: center;
}
.button-figure{
    width: 16px;
    height: 16px;
    margin-right: 20px;
    border-radius: 4px;
    transform: rotate(-45deg);
    transition: .2s;
    transition-delay: .2s;
}
.button:hover .button-figure{
    margin-right: 10px;
    transform: rotate(0);
    transition: .2s;
    transition-delay: .2s;
}
.button-figure.green{
    background-color: var(--green);
}
.button-figure.purple{
    background-color: var(--purple);
}
.button span{
    font-family: var(--neue-power);
    font-size: 16px;
    white-space: nowrap;
}
.scroll-gallery .button{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.nos-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nos-projects-description{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.nos-projects-description p{
    margin-top: 40px;
    font-family: var(--neue-power);
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.w-80{
    width: 80%;
    display: flex;
    gap: 10%;
}
.w-40{
    width: 45%;
}
.nos-projects-gallery-container{
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}
.nos-projects-principal-image{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 40%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    overflow: hidden;
}
.nos-projects-principal-image img{
    width: 100%;
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
}
.nos-projects-principal-image div{
    position: absolute;
    top: 0;
    left: 0;
}
.buttons{
    aspect-ratio: 1/1;
    justify-content: center;
}
.buttons-container{
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    gap: 40px;
}
.buttons-container button{
    background: none;
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--neue-power);
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-radius: 40px;
}
.buttons-container button img{
    width: 50px;
    height: 50px;
}
.buttons-container button p{
    width: 50%;
    color: var(--white);
}