*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: NeuePower;
    src: url(../assets/fonts/NeuePowerTrial-Ultra.ttf);
    font-weight: bold;
}
@font-face {
    font-family: NeuePower;
    src: url(../assets/fonts/NeuePowerTrial-Bold.ttf);
    font-weight: normal;
}
:root{
    --yellow: #FFC400;
    --green: #00B686;
    --purple: #9778D1;
    --beige: #FDF7E8;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #a7a7a7;
    --dark-gray: #333333;
    --neue-power: NeuePower, sans-serif;
}
body{
    background-color: var(--beige);
}
.header{
    height: 100vh;
    position: relative;
}
.header-video{
    height: 95vh;
    position: inherit;
    border-radius: 0 0 70px 70px;
    overflow: hidden;
}
.header-video video{
    filter:brightness(0.6);
}
.square{
    background-color: var(--yellow);
    width: 800px;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 270px;
}
.header-video .square:nth-child(2){
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}
.header-video .square:nth-child(3){
    top: 0;
    right: -50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.header-video-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
p{
    color: var(--black);
    font-family: var(--neue-power);
    font-size: 18px;
}
.header-video-text p{
    width: 60%;
    color: var(--white);
    font-family: var(--neue-power);
    font-size: 24px;
    text-align: center;
}
.header-logo-container{
    position: absolute;
    top: 20px;
    left: 50px;
}
.header-logo-container img{
    width: 96px;
}
.down-container{
    background-color: var(--white);
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top: 95vh;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0px rgba(0,0,0,.1);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.down-container-icon{
    padding-top: 10px;
    padding-bottom: 10px;
    transform: rotate(-45deg);
    animation: move-arrow ease-in 1s infinite;
}
@keyframes move-arrow{
    0%{
        padding-top: 0px;
    }
    50%{
        padding-top: 10px;
    }
    100%{
        padding-top: 0px;
    }
}
.down-container-icon i{
    color: var(--yellow);
    font-size: 24px;
}
h2,h3{
    font-family: var(--neue-power);
}
h2{
    font-size: 36px;
    font-weight: bold;
}
h3{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}
.expertises{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expertises h3{
    width: auto;
}
.expertises h2{
    width: 50%;
    text-align: center;
}
h2 span{
    position: relative;
}
h2 span div{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: red;
}
.scroll-gallery{
    height: 800px;
    position: relative;
    overflow: hidden;
}
.gallery{
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(-3deg);
    overflow: hidden;
    z-index: 2;
}
.gallery-card{
    width: 370px;
    height: 500px;
    position: relative;
}
.gallery-card:nth-child(1){
    animation: gallery-animation 20s linear infinite;
}
@keyframes gallery-animation{
    0%{
        margin-left: 0px;
    }
    100%{
        margin-left: -3360px;
    }
}
.gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px;
}
.gallery-message{
    width: 80%;
    padding: 24px;
    position: absolute;
    font-family: var(--neue-power);
    font-size: 18px;
    font-weight: normal;
    border-radius: 16px;
}
.gallery-card:nth-child(odd) .gallery-message{
    background-color: var(--black);
    bottom: -50px;
    left: 20px;
    color: var(--white);
}
.gallery-card:nth-child(even) .gallery-message{
    background-color: var(--white);
    bottom: 450px;
    right: 20px;
    color: var(--black);
}
.gallery-message .triangle{
    width: 20px;
    height: 20px;
    position: absolute;
}
.gallery-card:nth-child(odd) .triangle{
    background-color: var(--black);
    top: 0;
    left: 40px;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.gallery-card:nth-child(even) .triangle{
    background-color: var(--white);
    bottom: 0;
    right: 40px;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
}
.scroll-gallery .square{
    width: 700px;
    background-color: var(--green);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 1;
}
.button{
    background-color: var(--black);
    padding: 20px;
    display: inline-block;
    color: var(--white);
    border-radius: 40px;
    transition: .2s;
}
.button.white{
    background-color: var(--white);
    color: var(--black);
}
.button:hover{
    background-color: var(--dark-gray);
    transition: .2s;
}
.button.white:hover{
    background-color: var(--white);
}
.button-container{
    display: flex;
    align-items: center;
}
.button-figure{
    width: 16px;
    height: 16px;
    margin-right: 20px;
    border-radius: 4px;
    transform: rotate(-45deg);
    transition: .2s;
    transition-delay: .2s;
}
.button:hover .button-figure{
    margin-right: 10px;
    transform: rotate(0);
    transition: .2s;
    transition-delay: .2s;
}
.button-figure.green{
    background-color: var(--green);
}
.button-figure.purple{
    background-color: var(--purple);
}
.button-figure.yellow{
    background-color: var(--yellow);
}
.button span{
    font-family: var(--neue-power);
    font-size: 16px;
    white-space: nowrap;
}
.scroll-gallery .button{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.nos-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nos-projects-description{
    padding: 100px 0;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nos-projects-description p{
    padding-left: 10%;
    font-family: var(--neue-power);
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}
.w-100{
    display: flex;
    justify-content: space-between;
}
.w-90{
    width: 90%;
}
.w-70{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.w-45{
    width: 45%;
}
.projects-brand{
    position: relative;
}
.nos-projects-gallery-container{
    width: 120%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
.nos-projects-img{
    width: 90%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    border-radius: 37%;
}
.image-animation{
    animation: imageAnimation .5s linear;
}
@keyframes imageAnimation {
    0%{
        border-radius: 37%;
        filter: brightness(100%);
    }
    50%{
        border-radius: 50%;
        filter: brightness(150%);
    }
    100%{
        border-radius: 37%;
        filter: brightness(100%);
    }
}
.brand-container{
    background-color: var(--white);
    width: 200px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    position: absolute;
    border-radius: 70px;
    transform: rotate(45deg);
}
.brand-container:nth-child(2){
    top: -25px;
    left: -25px;
}
.brand-container:nth-child(3){
    bottom: -25px;
    right: -25px;
}
.brand-container img{
    max-width: 70%;
    max-height: 25%;
    transform: rotate(-45deg);
}
.brand-animation{
    animation: brandAnimation linear .5s;
}
@keyframes brandAnimation {
    0%{opacity: 100%;}
    20%{opacity: 0%;}
    80%{opacity: 0%;}
    100%{opacity: 100%;}
}
.buttons{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.buttons-container{
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);-template-columns: repeat(2, 1fr);
    gap:  40px;
}
.buttons-container button{
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
}
.buttons-container button:hover, .buttons-container button.active{
    background-color: var(--purple);
}
.buttons-container button img{
    width: 75px;
    filter: invert(100%);
}
.buttons-container button.active img{
    filter: invert(0%);
}
.buttons-container button.active p{
    color: var(--white);
}
.buttons-container button:hover img{
    filter: invert(0%);
}
.buttons-container button p{
    width: 50%;
}
.buttons-container button:hover p{
    color: var(--white);
}
.propos{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.propos-container{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    overflow: hidden;
}
.propos-info-container{
    padding: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
p.bold{
    font-size: 24px;
    font-weight: bold;
}
a{
    text-decoration: none;
    display: inline-block;
    width: auto;
}
.propos-images{
    position: relative;
}
.propos-images figure, .propos-images img{
    position: absolute;
    width: 100px;
}
.propos-images img.icon{
    bottom: 0;
    right: 0;
    width: 800px;
    filter: invert(100%);
    filter:brightness(100);
    transform: translateX(20%) translateY(20%) rotate(-45deg);
}
.propos-images img.logo{
    top: 100px;
    left: 0;
    width: 150px;
}
.propos-images figure{
    aspect-ratio: 1/1;
    transform: rotate(-45deg);
    position: relative;
    overflow: hidden;
}
.propos-images figure:nth-child(3){
    width: 200px;
    top: 75px;
    left: 250px;
    border-radius: 60px;
}
.propos-images figure:nth-child(4){
    width: 350px;
    top: 150px;
    left: 100px;
    border-radius: 120px;
}
.propos-images figure img{
    width: 150%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 2;
}
.propos-images figure img:nth-child(2){
    width: 80%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    z-index: 3;
    animation: rotate 15s linear infinite;
}
@keyframes rotate{
    0%{
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}